<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace indentsize="4" autoflush="true">
      <listeners>
        <add name="FileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\apps\logs\mediaplayer.log">
          
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>